# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\算法实验--回溯法\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
